body {
    background-image: url(https://github.com/wrongvoice14/GOA/blob/54c79a7018086403eeb1aefa0accd6a8ce267f20/teahub.io-goa-beach-wallpaper-2776460.jpg);
    font-family:'Times New Roman', Times, serif;
    padding: 20PX;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255)
}
.quote {
    text-align: center;
    color: rgb(255, 255, 255)
}
