body {
    background-image: url(https://github.com/wrongvoice14/GOA/blob/main/teahub.io-goa-beach-wallpaper-2776460.jpg?raw=true);
    font-family: Times New Roman, serif;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 200px
    color: white;
}
.quote {
    text-align: center;
    font-size: 100px
    color: white;
}
