body {
    background-image: url(https://github.com/wrongvoice14/GOA/blob/main/teahub.io-goa-beach-wallpaper-2776460.jpg?raw=true);
    font-family: Times New Roman, serif;
    padding: 20px;
}
h1 {
    text-align: center;
    color: black;
}
.quote {
    text-align: center;
    color: black(0, 0, 0);
}
