body {
    background-image: url(https://github.com/wrongvoice14/GOA/blob/1ffa66ca45f58d49c94d9857489517110f2caee0/GOA-main/teahub.io-goa-beach-wallpaper-2776460.jpg);
    font-family: Times New Roman, Times, serif;
    padding: 20px;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
.quote {
    text-align: center;
    color: rgb(255, 255, 255);
}
